.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgrey;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: white;
}

.loginText {
    padding: 3rem 5rem;
}

.formContainer {
    padding: 3rem 5rem;
    background-color: white;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}


.textClick {
    color: cornflowerblue;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}